@tailwind base;
@tailwind components;
@tailwind utilities;


.linkEffects a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .5s;
    padding: 2px 4px;
    margin: 2px 0;
}

.linkEffects a:hover {
    color: #fff;
}

.linkEffects a:hover:before {
    bottom: 0;
    height: 100%;
}

.linkEffects a:before {
    content: "";
    background-color: #52b05ebf;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    z-index: -1;
    transition: all .25s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.prose a {
    text-decoration: underline !important;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    padding: 2px 4px;
    margin: -2px -4px;
}
.prose a:hover {
    background-color: #52b05ebf;
    color: #fff;
}

.external-link {
    padding-right: 1.25em;
  }

.external-link::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    margin-left: 0.25em;
    background-size: 100%;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%2352B05E'><path stroke-linecap='round' stroke-linejoin='round' d='M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25'/></svg>");
    transform: translateY(0.1em);
  }


  
